<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mancrave</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <nav class="navbar black">
      <ul class="navigation left">
        <li><img src='../assets/my_logo.png'></li>
      </ul>
      <ul class="navigation right">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </nav>

{{{body}}}

</body>
</html>
