<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  </head>
  <body>
    <div class="container">
      <h3 class="center">Sign Up</h3>
      <form class="form" action="/signup" method="post">
          <label for="firstname">First Name</label>
          <input type="text" name="firstname" value=""></br>

          <label for="lastname">Last Name</label>
          <input type="text" name="lastname" value=""></br>

          <label for="email">Email</label>
          <input type="text" name="email" value=""></br>

          <label for="password">Password</label>
          <input type="text" name="password" value=""></br>
          <input type="submit" name="submit" value="Submit" class="grey right">
        </form>
    </div>

  </body>
</html>
