<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  </head>
  <body>
    <div class="container">
      <h3 class="center">Sign Up</h3>
      <form class="form" action="/signup" method="post">
          <label for="userFirstName">First Name</label>
          <input type="text" name="userFirstName" value=""></br>

          <label for="userLastName">Last Name</label>
          <input type="text" name="userLastName" value=""></br>

          <label for="userEmail">Email</label>
          <input type="text" name="userEmail" value=""></br>

          <label for="userPassword">Password</label>
          <input type="text" name="userPassword" value=""></br>
          <input type="submit" name="submit" value="Submit" class="grey right">
        </form>
    </div>

  </body>
</html>
