<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  </head>
  <body>
    <div class="container">
      <h3 class="center">Sign In</h3>
      <form class="form" action="/" method="post">
          <label for="email">Email</label>
          <input type="text" name="email" value=""></br>

          <label for="password">Password</label>
          <input type="text" name="password" value=""></br>
          <input type="submit" name="submit" value="Submit" class="grey right">
        </form>
    </div>
  </body>
</html>
