
  body {
    background-image: url('https://stories.sandisk.com/assets/images/orig/0354-Pato-Tahiti.jpg');
    background-size: cover;
  }

  img {
    height: 60px;
    width: 60px;
  }

  li {
    font-family: Poiret One;
  }

  .title {
    font-family: Poiret One;
    text-align: center;
    color: #04968A;
    font-size: 100px;
    padding-bottom: 100px;
  }

  .titlebox {
    background-color: black;
    opacity: .4;
    height: 150px;
    top: 13i0px;
  }
