<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>ManCrave for Your Man Cave</title>

    <!-- CSSme  -->
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../../../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="../../../js/materialize.js"></script>
    <script src="../../../js/init.js"></script>

  </head>
  <body>
    <nav class="navbar black">
      <ul class="navigation left">
        <li><img src='../../../assets/logo.png' id="logo"></li>
      </ul>
      <ul class="navigation right">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </nav>

    <div class="container">
      <br><br>
      {{{body}}}
      <br><br><br>
    </div>
    <footer class="page-footer black">
            <div class="container">
              <div class="row">
                <div class="col l12 m12 s12 center">
                  <p class="grey-text text-lighten-4">Man Crave &copy; Stardate 2316 - All Rights Reserved</p>
                </div>
              </div>
            </div>
          </footer>
</body>
</html>
