<div class='container'>
  <div class="row">
    <div class="col l1"></div>
    <div class="col l3 push-2 black darken-1 z-depth-5 hoverable valign-wrapper ">
      <h3>Sports</h3>
    </div>
    <div class="col l1">  </div>
    <div class="col l3 push-2 black darken-1 z-depth-5 hoverable valign-wrapper">
      <h3>DIY ROBOTICS</h3>
    </div>
    <div class="col l1"></div>
    <div class="col l3 push-2 black darken-1 z-depth-5 hoverable valign-wrapper">
      <h3>SPORTING CLAYS</h3>
    </div>
  </div>

</div>
