<!--
USERS TABLE COLUMNS
userId	userEmail	userPassword	userFirstName	userLastName	userCell	userImgUrl	userLogo	userAbout	user_isSeller	user_isAdmin	userSince -->


<div class="row">

      <div class="col s12 m6 l4">
        <div class="card small">
          <div class="card-image">
            <img src="images/sample-1.jpg">
            <span class="card-title">{{user.userFirstName}} {{user.userLastName}}</span>
          </div>
          <div class="card-content">
            <p>{{user.userAbout}}</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>

</div>
