<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mancrave</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/cat.css">
  </head>
  <body>
    <nav class="navbar black">
      <ul class="navigation left">
        <li><img src='/Users/p/Desktop/my_logo.png'></li>
      </ul>
      <ul class="navigation right">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Log Out</a></li>
      </ul>
    </nav>

  <div class='container'>
    <div class="row">
      <div class="col l1"></div>
      <div class="col l3 push-2 black darken-1 z-depth-5 hoverable valign-wrapper ">
        <h3>Sports</h3>
      </div>
      <div class="col l1">  </div>
      <div class="col l3 push-2 black darken-1 z-depth-5 hoverable valign-wrapper">
        <h3>DIY ROBOTICS</h3>
      </div>
      <div class="col l1"></div>
      <div class="col l3 push-2 black darken-1 z-depth-5 hoverable valign-wrapper">
        <h3>SPORTING CLAYS</h3>
      </div>
    </div>

  </div>
</body>
</html>
